.TwoButtons{
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.Box{
    text-align: center;
    width: 60%;
    height : auto;
}

#modifyButton{
    margin-right: 10px;
}

.button{
    text-decoration: none;
}